
.container{
    display: flex;
    justify-content: center;
    font-family: 'Tilt Neon', cursive;
    
}
.clock{
    display: flex;
}
.number, 
.reloj{
    font-size: 60px;
    }

.card{
    background: rgb(75, 72, 72);
    padding: 2rem;
    margin: 1rem;
}
.button{
    display: flex;
    justify-content: center;
    margin: 10px;
}